 *{
    margin: 0%;
    padding: 0%;
 }

 .news-app {
    margin-top: 20px;
    
}

.news-item {
    background-color: aliceblue;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.news-img {
    width: 190px;
}

