.container {
 background-image: linear-gradient( rgb(22, 22, 92), rgb(204, 25, 34),rgb(244, 244, 248) );
 background-repeat: no-repeat;
 height: 100vh;
 display: grid;
 grid-template-rows: 1fr 5fr 1fr;
 grid-template-columns: 2fr 6fr;
 gap:10px;
}

.nav {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  
}

.content {
  height:500px;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  display:grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  
}


.footer {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

